@model ChapsDotNET.Models.PublicHolidayViewModel

@{
    ViewData["Title"] = "Create a new public holiday";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="form-fieldset">
        <legend>@ViewBag.Title</legend>

        <div class="form-label">
            <label>Date</label>
        </div>
        <div id="holiday-date-hint" class="form-hint">
            For example, 20/07/2030
        </div>
        <div class="form-field">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { type = "date", Value = DateTime.Now.AddDays(1) } })
        </div>
        <div class="form-validation">
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="form-label">
            <label>Detail</label>
        </div>
        <div class="form-field">
            @Html.EditorFor(model => model.Description)
        </div>
        <div class="form-validation">
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <input type="submit" value="Create" />
    </fieldset>
}
