@using ChapsDotNET.Common.Helpers
@model ChapsDotNET.Models.PublicHolidayViewModel

@{
    ViewData["Title"] = "Edit an existing public holiday";
}

<div class="breadcrumbs">
    <h6>
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
        &nbsp;>&nbsp;@Html.ActionLink("Administration", "Index", "Admin")
        &nbsp;>&nbsp;@Html.ActionLink("Public Holidays", "Index", "PublicHolidays")
        > Edit
    </h6>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PublicHolidayId)

    <fieldset class="form-fieldset">
        <legend>
            <h1>@ViewBag.Title</h1>
        </legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
            <span title="Mandatory field" class="required-star">*</span>
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Date, "{0:yyyy-MM-dd}", new
                {
                    @class = "future-date",
                    @type = "date",
                    @value = ""
                })
            <div style="clear: both;"></div>
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
            <span title="Mandatory field" class="required-star">*</span>
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <input class="createButton" type="submit" value="Save" />
        <button class="cancel-button" type="button" onclick="location.href='/Admin/PublicHolidays/';">Cancel</button>

    </fieldset>
}
