@model ChapsDotNET.Models.ReportViewModel

@{
    ViewData["Title"] = "Edit an existing report";
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
    &nbsp;>&nbsp;
    <a href="">Lookups</a>
    &nbsp;>&nbsp;
    <a href="/Admin/Reports">Reports</a>
</div>

@using (Html.BeginForm())
{
    <fieldset class="form-fieldset", style="margin-left: 50px;">
        <h1>@ViewBag.Title</h1>
        <br />
        <br />
        @Html.HiddenFor(model => model.ReportId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>

        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @id = "short-description", @class = "form-control", @style = "width:50%", @rows = "10" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LongDescription)
        </div>

        <div class="editor-field">
            @Html.TextAreaFor(model => model.LongDescription, new { @id = "long-description", @class = "form-control", @style = "width:50%", @rows = "10" })
            @Html.ValidationMessageFor(model => model.LongDescription)
        </div>

        <input type="submit" value="Save" />
    </fieldset>

}

