@using ChapsDotNET.Common.Helpers
@model List<ChapsDotNET.Business.Models.CampaignModel>

@{
    ViewData["Title"] = "Campaigns administration";
}

<div class="breadcrumbs">
    <h6>
        <a href="@UrlHelpers.GetTpUrl(Context)">Home</a>
        &nbsp;>&nbsp;
        @Html.ActionLink("Administration", "Index", "Admin")
        > Campaigns
    </h6>

</div>

<h1>Campaigns</h1>

<div class="actionLinks">
    @Html.ActionLink("Create new Campaign", "Create", "Campaigns")
</div>

<table>
    <caption class="caption">Existing Campaigns</caption>
    <thead>
        <tr>
            <th>
                Detail
            </th>
            <th>
                Active
            </th>
            <th>
                Deactivated
            </th>
            <th>
                By
            </th>
        </tr>
    </thead>
    @foreach (var campaign in Model.ToList())
    {
        <tr>
            <td>
                <a href="/Admin/Campaigns/Edit/@campaign.CampaignId">
                    @Html.DisplayFor(x => campaign.Detail)
                </a>
            </td>
            <td align="center">
                @Html.DisplayFor(x => campaign.Active)
            </td>
            <td>
                @campaign.Deactivated?.ToString("dd/MM/yyyy HH:mm:ss")
            </td>
            <td>
                @Html.DisplayFor(x => campaign.DeactivatedBy)
            </td>
        </tr>
    }
</table>
