@model ChapsDotNET.Business.Models.SalutationModel
@{
    ViewData["Title"] = "Create New Salutation";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Detail, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detail)
            @Html.ValidationMessageFor(model => model.Detail)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

}

