@using ChapsDotNET.Common.Helpers
@model ChapsDotNET.Models.SalutationViewModel

@{
    ViewData["Title"] = "Edit an existing salutation";
}

<div class="breadcrumbs">
    <h6>
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
        &nbsp;>&nbsp;@Html.ActionLink("Administration", "Index", "Admin")
        &nbsp;>&nbsp;@Html.ActionLink("Salutations", "Index", "Salutations")
        > Edit
    </h6>
</div>

@using (Html.BeginForm())
{
    <fieldset class="form-fieldset">
        <legend>
            <h1>@ViewBag.Title</h1>
        </legend>

        @Html.HiddenFor(model => model.SalutationId)
        <div class="editor-label">
            @Html.LabelFor(model => model.Active, new { @class = "non-required-label" })
        </div>

        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Detail)
            <span alt="Mandatory field" class="required-star">*</span>
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Detail)
            @Html.ValidationMessageFor(model => model.Detail)
        </div>



        <input class="createButton" type="submit" value="Save" />
        <button class="cancel-button" type="button" onclick="location.href='/Admin/Salutations/';">Cancel</button>
    </fieldset>
}

