@using ChapsDotNET.Common.Helpers

@model ChapsDotNET.Business.Models.Common.PagedResult<List<ChapsDotNET.Business.Models.SalutationModel>>

@{
    ViewData["Title"] = "Salutations Administration";
}

@section head{
    <link href="@Url.Content("~/Content/newPagedListButtons.css")" rel="stylesheet" type="text/css" media="screen" />
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
</div>

<h1>Salutations</h1>

<div class="actionLinks">
    @Html.ActionLink("Create new Salutation", "Create", "Salutations")
</div>

<table>
    <caption class="caption">Existing salutations</caption>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Active
            </th>
        </tr>
    </thead>
    @if (Model.Results != null)
    {
        @foreach (var salutation in Model.Results.ToList())
        {
            <tr>
                <td>
                    <a href="/Admin/Salutations/Edit/@salutation.SalutationId">
                        @Html.DisplayFor(x => salutation.Detail)
                    </a>
                </td>
                <td align="center">
                    @Html.DisplayFor(x => salutation.Active)
                </td>
            </tr>
        }
    }
</table>
<div>
    @Html.PageLinks(@Model, x => Url.Action("Index", new { page = x.ToString() }))
</div>
