@model ChapsDotNET.Business.Models.SalutationModel
@{
    ViewData["Title"] = "Update";
}

<h1> Update a Salutation</h1>
<br />
@using (Html.BeginForm())
    {

    <div class="form-group">
        <label class="form-label" for="Salutation">Salutation Detail</label>
        @Html.TextBoxFor(Model => Model.Detail, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.Detail)
    </div>

    <div class="form-group">
        <label class="form-label" for="Salutation">Active</label>
        @Html.CheckBoxFor(Model => Model.Active, new { @class = "form-control", @value = Model.Active = true })
        @Html.ValidationMessageFor(Model => Model.Active)
    </div>
    <br />
    <div class="form-group">
        <input class="button" type="submit" value="Update Salutation" />
    </div>
    @Html.HiddenFor(Model => Model.SalutationId);
}

