@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>@ViewBag.Title</h6>
<fieldset>
    <legend>@Html.ActionLink("User management", "Index", "Users")</legend>
    <p>Allows managers and admins to add, update and block named users</p>
</fieldset>
@Html.Partial("_LookupAdminList")
<fieldset>
    <legend>@Html.ActionLink("Email Templates", "Index", "emailTemplates")</legend>
    <div>Allows admin users to maintain email templates.</div>
</fieldset>
@if ((User as Chaps.ICurrentUser).AccessLevel == Chaps.AccessLevel.Admin)
{
    <fieldset>
        <legend>@Html.ActionLink("Alerts", "Index", "Alerts")</legend>
        <div>Allows admin users to maintain alerts, e.g. All users must be logged off by 4pm.</div>
    </fieldset>
    <fieldset>
        <legend>@Html.ActionLink("Templates", "Index", "Templates")</legend>
        <div>Allows admin users to maintain letter templates.</div>
    </fieldset>

}
@*<fieldset>
        <legend>Deleted Records</legend>
        @Html.ActionLink("Deleted records", "Index", "DeletedTipstaffRecord")
    </fieldset>*@