@using ChapsDotNET.Common.Helpers
@model List<ChapsDotNET.Business.Models.LeadSubjectModel>

@{
    ViewData["Title"] = "Lead subject administration";
}

<div class="breadcrumbs">
    <h6>
        <a href="@UrlHelpers.GetTpUrl(Context)">Home</a>
        &nbsp;>&nbsp;
        @Html.ActionLink("Administration", "Index", "Admin")
        > Lead Subjects
    </h6>
</div>
    
<h1>Lead Subjects</h1>

<div class="actionLinks">
    @Html.ActionLink("Create a new Lead Subject", "Create", "LeadSubjects")
</div>

<table>
    <caption class="caption">Existing lead subjects</caption>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Active
            </th>
            <th>
                Deactivated
            </th>
            <th>
                Deactivated By
            </th>
        </tr>
    </thead>
    @foreach (var leadSubject in Model.ToList())
    {
        <tr>
            <td>
                <a href="/Admin/LeadSubjects/Edit/@leadSubject.LeadSubjectId">
                    @Html.DisplayFor(x => leadSubject.Detail)
                </a>
            </td>
            <td align="center">
                @Html.DisplayFor(x => leadSubject.Active)
            </td>
            <td>
                @leadSubject.deactivated?.ToString("dd/MM/yyyy HH:mm:ss")
            </td>
            <td align="center">
                @Html.DisplayFor(x => leadSubject.deactivatedBy)
            </td>

        </tr>
    }
</table>
