@model ChapsDotNET.Frontend.Components.Pagination.PaginationModel
@using Microsoft.AspNetCore.Routing;

@functions {
    // Get the next page whilst preserving any sort params
    string GetUrl(int pageNumber)
    {
        var routeValues = new RouteValueDictionary(ViewContext.RouteData.Values);
        foreach (var key in ViewContext.HttpContext.Request.Query.Keys)
        {
            routeValues[key] = ViewContext.HttpContext.Request.Query[key];
        }
        routeValues["page"] = pageNumber;
        return Url.Action("Index", routeValues);
    }
}

@{
    var totalPages = Model.GetTotalPages(Model.TotalCount, Model.PageSize);
    int rangeStart = Model.CurrentPage - 2 < 1 ? 1 : Model.CurrentPage - 2;  
}

<nav class="govuk-pagination chaps-pagination" aria-label="Pagination">
    <div class="govuk-pagination__prev @(Model.CurrentPage == 1 ? "chaps-pagination__arrows--hidden" : "")" @(Model.CurrentPage == 1 ? "aria-hidden=true" : "")>
        <a class="govuk-link govuk-pagination__link" href="@GetUrl(Model.CurrentPage - 1)" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
            </span>
        </a>
    </div>
    <p>
        </p>
    <ul class="govuk-pagination__list">
        @if (Model.CurrentPage == 1)
        {
            <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="@GetUrl(1)" aria-label="Current page, page 1" aria-current="page">1</a>
            </li>
        }
        else {
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="@GetUrl(1)" aria-label="Go to page 1">1</a>
            </li>
        }
        @if (Model.CurrentPage > 4)
        {
            <li class="govuk-pagination__item">
                &ctdot;
            </li>
        }
        @foreach (int pageNumber in Enumerable.Range(rangeStart, 5))
        {
            @if (pageNumber > 1 && pageNumber < totalPages)
            {
                @if (pageNumber == Model.CurrentPage)
                {
                    <li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link" href="@GetUrl(pageNumber)" aria-label="Current page, page @Model.CurrentPage" aria-current="page">@pageNumber</a>
                    </li>
                }
                else
                {
                    <li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="@GetUrl(pageNumber)" aria-label="Go to page @pageNumber">@pageNumber</a>
                    </li>
                }
            }
        }
        @if (Model.CurrentPage <= (totalPages - 4))
        {
            <li class="govuk-pagination__item">
                &ctdot;
            </li>
        }
        @if (totalPages > 1)
        {
            @if ( Model.CurrentPage == totalPages)
            {
                <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="@GetUrl(totalPages)" aria-label="@($"Current page, page {totalPages}")" aria-current="page">@totalPages</a>
                </li>
            }
            else
            {
                <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="@GetUrl(totalPages)" aria-label="@($"Go to page {totalPages}")">@totalPages</a>
                </li>
            }
        }
    </ul>
    <div class="govuk-pagination__next @(Model.CurrentPage == totalPages ? "chaps-pagination__arrows--hidden" : "")" @(Model.CurrentPage == totalPages ? "aria-hidden=true" : "")>
        <a class="govuk-link govuk-pagination__link" href="@GetUrl(Model.CurrentPage + 1)" rel="next">
            <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
        </a>
    </div>
</nav>
