@model ChapsDotNET.Models.MoJMinisterViewModel

@{
    ViewData["Title"] = "Add a new MoJ Minister";
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
    &nbsp;>&nbsp;
    <a href="/Admin/MoJMinisters">MoJ Ministers</a>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="form-fieldset">
        <legend>
            <h1>@ViewBag.Title</h1>
        </legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prefix)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Prefix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Suffix)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Suffix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rank)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Rank)
        </div>

        <input type="submit" value="Create" />
    </fieldset>
}
