@model ChapsDotNET.Models.MoJMinisterViewModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

        function getToken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
        }

    function setActiveTrue() {
        var mojId = '@Model.MoJMinisterId';
        $.ajax({
            url: '/Admin/MoJMinisters/SetActiveTrue',
            type: 'POST',
            headers: { "RequestVerificationToken": getToken() },
            data: { id: mojId },
            success: function (result) {
                if (result.success) {
                    window.location.href = '/Admin/MojMinisters/Edit/' + mojId;
                }
            }
        });
    }
</script>

@Html.AntiForgeryToken()
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MoJMinisterId)
    @Html.HiddenFor(model => model.Prefix)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.Suffix)
    @Html.HiddenFor(model => model.Rank)


    <div class="message warning" style="padding:10px;">
        <span></span>
        <h6>Confirm Deactivation</h6>
        <p> Are you sure you want to deactivate MoJ minister "@Model.Name" ?</p>
        <input class="createButton" type="submit" value="Confirm Deactivate" />
        <button class="cancel-button" type="button" onclick="setActiveTrue();">Back</button>
    </div>
}
