@model ChapsDotNET.Models.MoJMinisterViewModel

@{
    ViewData["Title"] = "Edit an MoJ Minister";
}

<div class="breadcrumbs">
    <h6>
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
        &nbsp;>&nbsp;@Html.ActionLink("Administration", "Index", "Admin")
        &nbsp;>&nbsp;@Html.ActionLink("MoJ Ministers", "Index", "MojMinisters")
        > Edit
    </h6>
</div>

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.MoJMinisterId)

    <fieldset class="form-fieldset">
        <legend>
            <h1>@ViewBag.Title</h1>
        </legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prefix, new { @class = "non-required-label" })
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Prefix)
            @Html.ValidationMessageFor(model => model.Prefix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
            <span title="Mandatory field" class="required-star">*</span>
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Suffix, new { @class = "non-required-label" })
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Suffix)
            @Html.ValidationMessageFor(model => model.Suffix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rank, new { @class = "non-required-label" })
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Rank)
            @Html.ValidationMessageFor(model => model.Rank)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active, new { @class = "non-required-label" })
        </div>

        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <input class="button" type="submit" value="Save" />
        <button class="cancel-button" type="button" onclick="location.href='/Admin/MOJMinisters/';">Cancel</button>
    </fieldset>
}
