@using ChapsDotNET.Common.Helpers
@model List<ChapsDotNET.Business.Models.MoJMinisterModel>

@{
    ViewData["Title"] = "MoJ Minister administration";
}

<div class="breadcrumbs">
    <h6>
        <a href="@UrlHelpers.GetTpUrl(Context)">Home</a>
        &nbsp;>&nbsp;
        @Html.ActionLink("Administration", "Index", "Admin")
        > MoJ Ministers
    </h6>
</div>

<h1>MoJ Ministers</h1>

<div class="actionLinks">
    @Html.ActionLink("Add a new MoJ Minister", "Create", "MoJMinisters")
</div>

<table>
    <caption class="caption">Existing MoJ Ministers</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Position
            </th>
            <th>
                Deactivated
            </th>
            <th>
                Active
            </th>

        </tr>
    </thead>
    @foreach (var mojminister in Model.ToList())
    {
        <tr>
            <td>
                <a href="/Admin/MoJMinisters/Edit/@mojminister.MoJMinisterId">
                    @if (!string.IsNullOrWhiteSpace(mojminister.Prefix) )
                    {
                        @Html.DisplayFor(x => mojminister.Prefix);
                    }
                    @Html.DisplayFor(x => mojminister.Name)
                    @if (!string.IsNullOrWhiteSpace(mojminister.Suffix) )
                    {
                        @Html.DisplayFor(x => mojminister.Suffix);
                    }
                </a>
            </td>
            <td>
                @Html.DisplayFor(x => mojminister.Rank)
            </td>
            <td>
                @if (mojminister.Active != true)
                 {
                    @mojminister.Deactivated?.ToString("dd/MM/yyyy HH:mm:ss");
                    <span>By</span>
                    @Html.DisplayFor(x => mojminister.DeactivatedBy);
                 }
            </td>
            <td align="center">
                @Html.DisplayFor(x => mojminister.Active)
            </td>
        </tr>
    }
</table>
