@using ChapsDotNET.Common.Helpers
@model ChapsDotNET.Models.UserViewModel

@{
    ViewData["Title"] = "Create a new user";
}

<div class="breadcrumbs">
    <h6>
        <a href="@UrlHelpers.GetTpUrl(Context)">Home</a>
        &nbsp;>&nbsp;
        @Html.ActionLink("Administration", "Index", "Admin")
        &nbsp;>&nbsp;
        @Html.ActionLink("Users", "Index", "Users")
        > Create
    </h6>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="form-fieldset">
        <legend>
            <h1>@ViewBag.Title</h1>
        </legend>

        <div class="editor-label">
            <label for="Detail">Name</label>
            <span title="Mandatory field" class="required-star">*</span>
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            <label for="Detail">Display Name</label>
            <span title="Mandatory field" class="required-star">*</span>
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email, new { @class = "non-required-label" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            <label for="Detail">Role</label>
            <span title="Mandatory field" class="required-star">*</span>
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.RoleStrength, Model.RoleList, "Please select a role", new { @class = "required" })
            @Html.ValidationMessageFor(model => model.RoleStrength)
        </div>
        <div class="editor-label">
            <label for="Detail">Team</label>
            <span title="Mandatory field" class="required-star">*</span>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TeamId, Model.TeamList, "Please select an office", new { @class = "required" })
            @Html.ValidationMessageFor(model => model.TeamId)
        </div>

        <input class="createButton" type="submit" value="Create" />
        <button class="cancel-button" type="button" onclick="location.href='/Admin/users/';">Cancel</button>
    </fieldset>
}
