@model ChapsDotNET.Models.MPViewModel

@{
    ViewData["Title"] = "Add a new Member of Parliament";
}

<div class="breadcrumbs">
    <a href="">Home</a>
    &nbsp;>&nbsp;
    <a href="">Administration</a>
    &nbsp;>&nbsp;
    <a href="/Admin/MPs">Members of Parliament</a>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="form-fieldset">
        <legend>
            <h1>@ViewBag.Title</h1>
        </legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RtHon)
        </div>

        <div class="editor-field">
            @Html.CheckBoxFor(model => model.RtHon)
            @Html.ValidationMessageFor(model => model.RtHon)
        </div>

        <label class="editor-label" for="salutationId">
            Salutation
        </label>

        <div class="editor-field">
            @Html.DropDownListFor(m => m.SalutationId, Model.SalutationList, "Select a Salutation")
            @Html.ValidationMessageFor(model => model.SalutationId)
        </div>

        <label class="editor-label" for="FirstNames">
            First name
        </label>

        <div class="editor-field">
            @Html.EditorFor(model => model.FirstNames)
            @Html.ValidationMessageFor(model => model.FirstNames)
        </div>

        <label class="editor-label" for="Surname">
            Last name
        </label>

        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Suffix)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Suffix)
            @Html.ValidationMessageFor(model => model.Suffix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine1)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine1)
            @Html.ValidationMessageFor(model => model.AddressLine1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine2)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine2)
            @Html.ValidationMessageFor(model => model.AddressLine2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine3)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine3)
            @Html.ValidationMessageFor(model => model.AddressLine3)
        </div>

        <label class="editor-label" for="Town">
            Town or city
        </label>

        <div class="editor-field">
            @Html.EditorFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.County)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.County)
            @Html.ValidationMessageFor(model => model.County)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postcode)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Postcode)
            @Html.ValidationMessageFor(model => model.Postcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <input class="button" type="submit" value="Create" />
</fieldset>
}
