// Index.cshtml

@using ChapsDotNET.Models
@model IndexViewModel

@{
    ViewData["Title"] = "Members of Parliament administration";
}
@section head{
    <link href="@Url.Content("~/stylesheets/newPagedListButtons.css")" rel="stylesheet" type="text/css" media="screen" />
    <script defer src="~/javascripts/MPfilter.js"></script>
}
<body data-mps-url="@Url.Action("GetFilteredMPs", "MPs")">
    <script type="text/javascript">
        var initialPaginationData = {
            currentPage: @Model.Pagination!.CurrentPage,
            totalPages: @Model.Pagination!.TotalPages
        };
        let currentPage = @Model.Pagination!.CurrentPage;
        let sortOrder = '@Model.MPs!.sortOrder';
    </script>

    @Html.AntiForgeryToken()
    <div class="breadcrumbs">
        <h6>
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
            &nbsp;>&nbsp;
            @Html.ActionLink("Administration", "Index", "Admin")
            > MPs
        </h6>
    </div>

    <h1>Members of Parliament (MPs)</h1>

    <table class="withSort">
        <colgroup>
            <col class="nameColumn" />
            <col class="addressColumn" />
            <col class="emailColumn" />
            <col class="deactivatedByColumn" />
            <col class="activeColumn" />
        </colgroup>

        <thead>
            <tr>
                <th class="actionLinks" colspan="3">
                    @Html.ActionLink("Add a new member of Parliament", "Create", "MPs")
                </th>
                <td class="spacerData" style="display: none;">&nbsp;</td>
                <th class="align-right" colspan="1">
                    <input type="checkbox" id="onlyActive" checked />Active only?
                </th>
            </tr>
            <tr class="filterRow">
                <th>
                    <input type="text" id="nameFilter" placeholder="Filter name" value="@Model.MPs.nameFilterTerm" />
                </th>
                <th>
                    <input type="text" id="addressFilter" placeholder="Filter address" />
                </th>
                <th>
                    <input type="text" id="emailFilter" placeholder="Filter email" />
                </th>
            </tr>
            <tr class="clearFilterRow">
                <th colspan="5">
                    <button id="clearFilters">Clear Filters</button>
                </th>
            </tr>
            <tr>
                <th scope="col">
                    <a href="#" class="sortable" data-sort="name">
                        Name
                        <img src="/images/bullet_arrow_up.png" class="sort-button" />
                    </a>
                </th>
                <th scope="col">
                    <a href="#" class="sortable" data-sort="address">
                        Address
                        <img src="/images/bullet_arrow_up.png" class="sort-button" />
                    </a>
                    <span class="sortable" data-sort="address"></span>
                </th>
                <th scope="col">
                    <a href="#" class="sortable" data-sort="email">
                        Email
                        <img src="/images/bullet_arrow_up.png" class="sort-button" />
                    </a>
                </th>
                <th style="display: none;" id="deactivatedByUserNameDate">
                    <a href="#" class="sortable" data-sort="deactiv">
                        Deactivated by
                        <img src="/images/bullet_arrow_up.png" class="sort-button" />
                    </a>
                </th>
                <th scope="col" style="text-align: right;">Active</th>
            </tr>
        </thead>
        <tbody id="mpListContainer">
            @foreach (var mp in Model.MPs.Results!.ToList())
            {
                <tr>
                    <td>
                        <a href="/Admin/MPs/Edit/@mp.MPId">
                            @Html.DisplayFor(modelItem => mp.DisplayFullName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mp.DisplaySingleLineAddress)
                    </td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(mp.Email))
                        {
                            @Html.DisplayFor(x => mp.Email)
                        }
                    </td>
                    <td style="display: none" class="deactivatedByUserNameDate">
                        @Html.DisplayFor(modelItem => mp.DeactivatedOn)
                    </td>
                    <td class="align-center">
                        @Html.DisplayFor(x => mp.Active)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        <div class="pagination-page-text">
            <span> Page </span>
            <span id="currentPageSpan">@Model.Pagination.CurrentPage</span>
            <span> of </span>
            <span id="totalPagesSpan">@Model.Pagination.TotalPages</span>
        </div>

        <div class="buttons-page-links">
            <!-- first, previous buttons and page links-->
            <a href="#" id="firstButton" class="pageButton-img-first-enabled"></a>
            <a href="#" id="prevButton" class="pageButton-img-previous-enabled"></a>

            <!-- Page Numbers Container -->
            <div id="pageLinksContainer">
                <!-- This will be filled dynamically by JavaScript -->
            </div>

            <!--Page text,  Next and Last buttons  -->
            <a href="#" id="nextButton" class="pageButton-img-next-enabled"></a>
            <a href="#" id="lastButton" class="pageButton-img-last-enabled"></a>
        </div>
    </div>
</body>
