<!DOCTYPE html>

<html lang="en-gb">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewBag.Title</title>

        <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/stylesheets/menuBar.css")" />
        <link rel="stylesheet" type="text/css" media="print" href="@Url.Content("~/stylesheets/menuBarPrint.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/stylesheets/themes/base/jquery-ui-custom.min.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/stylesheets/jHtmlArea/jHtmlArea.css")" />

        @RenderSection("head", false)

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/stylesheets/chaps.css")" />
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M3QK9DW');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3QK9DW"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        @await Component.InvokeAsync("DisplayAlerts")
        <div>
            @{
                string logo = "";
                switch (Environment.GetEnvironmentVariable("CurServer"))
                {
                    case "PRODUCTION":
                        logo = "";
                        break;
                    default:
                        logo = "train";
                        break;
                }
            }
            <div id="header" class="@logo">
                <div class="logo">
                    <img src="~/images/moj.gif" id="moj-logo" alt="Ministry of Justice Logo" />
                    <img src="~/images/app.png" id="chaps-logo" alt="Application Logo" />
                </div>
                <partial name="_MenuBar" />
            </div>
            <div id="main">
                @RenderBody()
            </div>
            <div id="footer">
                <p>
                    @*This site is supported by @System.Configuration.ConfigurationManager.AppSettings["supportTeam"]. Contact us at <b><a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["supportEmail"]?subject=Support%20request&body=Please%20describe%20the%20problem%20%0D%0A%0D%0A%0D%0A%0D%0A%0D%0ASystem%20Data:%0D%0AUser:@User.Identity.Name%0D%0AURL:@Request.Url.AbsoluteUri" target="_top">CHAPS-Support@digital.justice.gov.uk</a></b> if you experience a problem with it.*@
                    This site is supported by the Central Digital Product Team.  Contact us at <a class="bold-text" href="mailto:CHAPS-Support@digital.justice.gov.uk">CHAPS-Support@digital.justice.gov.uk</a> if you experience a problem with it.
                </p>
            </div>
        </div>

        <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="@Url.Content("~/lib/flot/excanvas.min.js")"></script>
    <![endif]-->

        <script type="text/javascript" src="~/lib/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-ui-1.13.1.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" src="~/lib/jHtmlArea-0.8.min.js"></script>
        <script type="text/javascript" src="~/javascripts/chaps.js"></script>
        <script type="text/javascript">
                $(document).ready(function () {
                    var ServerName = "@(Environment.GetEnvironmentVariable("CurServer") ?? "DEFAULT_VALUE")";
                    if (ServerName !== "PRODUCTION") {
                        $('#menuBar li, #menuBar li.leftText, #MenuContainer, .helpButton').css('background-color', '#1d73e8');
                        $('#first').css('background-image', 'url("@Url.Content("~/images/blue_nav_left_corner_bottom.gif")")');
                        $('#MenuContainer').css('background-image', 'url("@Url.Content("~/images/blue_nav_right_corner_bottom.gif")")');
                    }
                });
        </script>
    </body>
</html>
